<div class="columns is-multiline">
  <div class="column is-3 animated slideInUp">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <br>
          <h1 class="has-text-centered">R$ 299.99</h1>
          <a class="button is-success is-fullwidth">
            <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3 animated slideInUp">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <br>
          <h1 class="has-text-centered">R$ 299.99</h1>
          <a class="button is-success is-fullwidth">
            <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3 animated slideInUp">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <br>
          <h1 class="has-text-centered">R$ 299.99</h1>
          <a class="button is-success is-fullwidth">
            <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3 animated slideInUp">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <br>
          <h1 class="has-text-centered">R$ 299.99</h1>
          <a class="button is-success is-fullwidth">
            <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>