<section class="hero is-link is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item pacifico medium-text animated pulse infinite">
                        modern web store
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item">
                            Home
                        </a>
                        <a class="navbar-item">
                            Carrinho
                        </a>
                        <a class="navbar-item">
                            Meu perfil
                        </a>
                        <span class="navbar-item">
                            <a class="button is-link is-inverted">
                                <span class="icon">
                                    <i class="fa fa-power-off"></i>
                                </span>
                                <span>Sair</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Produtos</h1>
            <h2 class="subtitle">
                Confira nossos super produtos
            </h2>
            <div class="columns is-multiline">
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <h1 class="has-text-centered">R$ 299.99</h1>
                                <a class="button is-success is-fullwidth">
                                    <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <h1 class="has-text-centered">R$ 299.99</h1>
                                <a class="button is-success is-fullwidth">
                                    <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <h1 class="has-text-centered">R$ 299.99</h1>
                                <a class="button is-success is-fullwidth">
                                    <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <h1 class="has-text-centered">R$ 299.99</h1>
                                <a class="button is-success is-fullwidth">
                                    <i class="fa fa-shopping-cart">&nbsp;&nbsp;&nbsp;Adicionar</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Modern Web Store</strong> by <a href="https://balta.io">balta.io</a>.
        </p>
        <p>
            <a class="icon" href="https://github.com/balta-io">
                <i class="fa fa-github"></i>
            </a>
        </p>
    </div>
</footer>