<section class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        modern web store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">

          <div class="field">
            <div class="columns">
              <div class="control column is-half">
                <input class="input is-medium" type="text" placeholder="Nome">
              </div>
              <div class="control column is-half">
                <input class="input is-medium" type="text" placeholder="Sobrenome">
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Email">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="CPF">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Usuário">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Senha">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Confirmar Senha">
            </div>
          </div>

          <div class="field">
            <a class="button is-link is-inverted is-outlined is-medium is-fullwidth">Cadastrar</a>
          </div>

          <div class="field">
            <a class="button is-link is-fullwidth">Voltar para a tela de Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>