/* You can add global styles to this file, and also import other style files */
.pacifico {
    font-family: 'Pacifico'
}
.roboto {
    font-family: 'Roboto'
}
.medium-text {
    font-size: 1.5em;
}
.larger-text {
    font-size: 3em;
}