<section class="hero is-link is-medium animated slideInDown">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item pacifico small-text" routerLink="/home">modern web store</a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div class="navbar-end">
                    <app-sub-menu></app-sub-menu>
                </div>
            </div>
        </nav>
    </div>
</section>